<div class="signin-page-content">
    <h1 class="heading">Mini-Google.io</h1>

    <div class="input">
        <input type="text" placeholder="Enter your email"></input>
    </div>

    <div class="input">
        <input type="password" placeholder="Enter your password"></input>
    </div>

    <div class="input">

        <%= link_to "Login", users_path, class: "login" %>
        <%= link_to 'Sign Up', new_user_path, class: "link-to-btn" %>
    <div>
</div>